body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: url(images/fundo_site_2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.buffer1 {
  height: 3rem;
}

.buffer2 {
  height: 8rem;
}

#estilo1{
	color: black;
	font-size: 3.8rem;
	font-family: 'Quicksand', sans-serif;
	flex-basis: 80px;
}

#estilo2{
	color: white;
	font-size: 3.8rem;
	font-family: 'Roboto', sans-serif;
}

#estilo3{
	color: black;
	font-size: 2.4em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	flex-basis: 80px;

}

.bg-light {
	background-color: rgba(0, 0, 0, 0.25)!important;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-brand {
	color: #0731ff;
}


.bt-toolbar{
	width: auto;
}

.btcolorfundo{
	background-color: #3f51b5

}

.btn-dark:hover{
	background-color: #82b1ff;

}

.bt-espaco{
	margin: 13px 12px 12px 10px;
	width: 120px;
	height: 40px;
	border-color: black;
}